.patch-container {
	.container();
	height:100%;
	position: relative;
	&:after{
		content:"";
		background: url(../img/dd_logo_768.png) no-repeat;
		z-index: 1;
		position: absolute;
		left:0;
		top:30px;
		width:309px;
		height:171px;
		

	}

	
}


.purple-patch .patch {
	background-color: #39275B
}
.hide-patch .patch {
	display: none;
}
.hide-patch .wordmark {
	left: 0;
}
.wordmark-white .wordmark {
	background-position: 0 -197px;
}   


// CSS Patch

.patch {
	position: absolute;
	display: block;
	width: 73px;
	top: -35px;
	height: 73px;
	background-color: @uw-gold;
	z-index: 999;
	
	div {
		position: absolute;
		background-color: @white;
	}
	
	

	.w1 {
	width: 23.5%;
	height: 8%;
	left: 18%;
	top: 29.5%;
}
.w2 {
	top: 29.5%;
	height: 44%;
	width: 7%;
	left: 43.7%;
	.skew(-15deg,0deg);
}
.w3 {
	top: 29.5%;
	height: 8%;
	width: 17.5%;
	left: 65.8%;
}
.w4 {
	left: 52%;
	top: 39.5%;
	width: 12.5%;
	height: 34.5%;
	.skew(14deg,0deg);
}
.w5 {
	width: 12.2%;
	height: 37.5%;
	.skew(14deg,0deg);
	left: 27.7%;
	top: 36.8%;
}
.w6 {
	top: 34%;
	left: 66.7%;
	.skew(-14.5deg,0deg);
	height: 39.5%;
	width: 7.3%;
}
.w7 {
	width: 6.5%;
	height: 43.5%;
	top: 29.5%;
	left: 56.6%;
	.skew(14deg, 0deg);
}

}
