.patch-container {
	.container();
	height:100%;
	position: relative;
	.homelink{
		content:"";
		background: url(../img/dd_logo_hm_768.png) no-repeat;
		z-index: 1;
		position: absolute;
		left:10px;
		top:30px;
		width:309px;
		height:171px;
		

	}

	
}

.seattle .patch-container .homelink{
	background: url(../img/dd_logo_Seattle_768.png) no-repeat;
}

.patch {
	position: absolute;
	display: block;
	width: 67px;
	top: -35px;
	height: 67px;
	background-color: @uw-gold;
	
	
	div {
		position: absolute;
		background-color: @white;
	}
	


}
