.patch-container {
	.container();
	height:100%;
	position: relative;
	&:after{
		content:"";
		background: url(../img/dd_logo_hm_768.png) no-repeat;
		z-index: 1;
		position: absolute;
		left:10px;
		top:30px;
		width:309px;
		height:171px;
		

	}

	
}

.seattle .patch-container:after{
	background: url(../img/dd_logo_Seattle_768.png) no-repeat;
}





// CSS Patch

.patch {
	position: absolute;
	display: block;
	width: 73px;
	top: -35px;
	height: 73px;
	background-color: @uw-gold;
	
	
	div {
		position: absolute;
		background-color: @white;
	}

}

.branding-footer {
	float: right;
	margin:10px 0;
}
