//buttons-ALL.less

#registerButton {
	margin-top: 30px;
	font-family: 'Ultra', serif;
	font-weight: 400;
	font-size: 21px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: @uw-gold;
	color:white;
	padding: 1px 15px;
	text-decoration: none;
	width:100%;
	text-align: center;
	border: 0;
	display: block;

	&:hover{
		background-color: #edcb80; 
	}
}

.registerButton-Container {

	.small{
		@media (max-width: @screen-md) {font-size: .55em;}		
		@media (max-width: @screen-sm) {font-size: .75em;}		
		font-size: .45em;
		margin:5px;
	}
}


// TODO
@media (max-width: @screen-xs) {
#registerButton {margin-top: 30px;}
	}

.info-box-button {
	position: absolute;
	botttom:-12px;
	font-family: 'Ultra', serif;
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: @uw-gold;
	color:white;
	padding: 12px;
	height: 29px;
}

.fb-link {
	line-height: 30px;
	font-weight: 300;	
	* {
		vertical-align: middle;
		display:inline-block;
	}
	img {
		margin-right: 0.7em;
		
		
					
		&:hover{
			opacity: 0.8;
		}
		

	}
}