//
//gallery-bar.less
/////////////

@number-of-images: (12);
@gallery-width: (149px * @number-of-images) + @number-of-images;

.gallery-row {
	margin:30px 0; 
	overflow: hidden;
	height: 100px;
	position: relative;
	clear:both;


	.oi{
		background-color: @purple;
		color: lighten(@purple, 40%);
		line-height: 80px;
		padding: 0 5px;
		margin: 10px 0;
		font-size: 1em !important;
		position: absolute;
	}

	.control-left {
	left:0;
	}

	.control-right {
	right:0;
	}
}

.holder {
	.container-fluid();
	padding:0;
	overflow-x:scroll;
	overflow-y: hidden;
	height: 120px;
	width:100%;
	position: relative;



	.gallery {
	//position: absolute;
	overflow:visible;
	height:100%;
	max-height: 100px;
	width: @gallery-width;
	background-color: @white;
	// position: relative;
	ms-touch-action:pax-x;
	touch-action:pan-x;
	// -webkit-transition:all 0.3s;
	// transition:all 0.3s;
	z-index: 1044;
	


	

	dl.gallery-item  {
		width: 149px;
		height: 100px;
		display: inline-block;
		margin-right: 1px;
		

		dt{


		a.img-thumbnail{
		padding:0;

		}


		}

	}
}

	// @animation-distance: 150px;
	// .move-right{
	// 	transform: translateX(@animation-distance);
	// }

	// .move-left{
	// 	transform: translateX(-(@animation-distance));
	// }
	

}



//  .gallery{
//  	margin-left:-15px;
//  	text-align: center;
// }
	