//
//gallery-bar.less
/////////////

.gallery-row {
	margin:30px;
	.container-fluid();
}

.holder {
	.container();
	overflow-x: scroll;
	height: 100%;
	width:100%;

	.gallery {
	
	height:100%;
	max-height: 100px;
	width: 200%;
	background-color: @white;	
	dl {
		width: 149px;
		height: 100px;
		display: inline-block;
		margin-right: 1px;
		

		dt{


		a.img-thumbnail{
		padding:0;

		}


		}

	}
}

}

.ms-touch.holder {
  overflow-x: scroll;
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}