


#info-bar {
	// .make-row();
	// .make-xs-column(12);
	height: 30px;
}


#info-bar {
	ul {
		color:@white;
		background-color: @purple;
		width:100%;
    	float: left;
    	padding:4px 0 4px 5px;
    	
    }
    li {
	    float: left;
	    list-style: none;
	    text-transform: uppercase;
	    font-weight: bold;
	    .no-bullets();
	    padding-left: 1.2em;

	    &:first-child {
	    	padding-left: 0;
	    }
    }
}

