#info-bar {
	color:@white;
	background-color: @purple;
	height: 30px;
}


#info-bar {
	ul {
    	float: left;
    	padding-left:5px;
    	margin:0;
    }
    li {
	    float: left;
	    list-style: none;
	    padding: 5px 10px 0 0;
	    text-transform: uppercase;
	    font-weight: bold;
	    .no-bullets();
    }
}

