// nav-menu.less


.nav-main {
	position: absolute;
	right:0;
	top:40%;
	z-index: 1;

}

ul.dd-nav {

		
		li.active {
			background-color: @uw-gold;	


			a {
				color:@white;

				&:hover{
					background-color: inherit;
					cursor: pointer;
				}
			}
		}
		


		li {
			background-color: @purple;
			color:#6c6c7a;
			margin: 20px 0;
			width: 248px;
			padding-left: 10px;

			a {
				color: #6c6c7a;
				padding: 4px 0;

				&:hover {
					color: @white;
					background-color: inherit;
				}
		
			}
		}
}

.home, {
	ul.dd-nav {

		li{
		color:@white;
		background-color: @uw-gold;
		// margin: 20px 0;
		// width: 248px;
		// padding-left: 10px;

		&:hover {
			background-color: @purple;
		}
		}

		li {
			background-color: @uw-gold;
			

			a {
				color: @white;
				// padding: 4px 0;

				&:hover {
					color: @white;
					background-color: inherit;
				}
		
			}
		}

	}

}

