// nav-menu.less


.nav-main {
	position: absolute;
	right:0;
	top:40%;


}

ul.dd-nav {
	

		li{
			background-color: @uw-gold;
			margin: 20px 0;
			width: 248px;



			a{
				color:@white;
				padding: 4px 0;
				margin-left: 10px;
			}
		}
}