/*!
 * Roots 6.5.2
 */

@import "uw-2014/style.less";




// 
@purple: #39275b;
@uw-gold: #d7a900;
@purple-overlay: fade(#1F002F, 80%);
@gray-border: #dedede;
@accordion-rule: #888888;
@nav-disabled: #6c6c7a;
@uw-bright-blue: rgb(0, 70, 173);
@white: #FFFFFF;

@import "bootstrap/type-custom.less";
@import "bootstrap/bootstrap.less";
@import "uwaa-social.less";
@import "uwaa-footer.less";
@import "open-iconic-bootstrap.less";
@import "custom-mixins.less";
@import "thinstrip-ALL.less";
@import "nav-menu.less";
@import "buttons-ALL.less";
@import "typography-ALL.less";
@import "info-bar-ALL.less";
@import "accordian-ALL.less";
@import "race-hamburger-navbar-ALL.less";
@import "sponsor-gallery-ALL.less";
@import "branding-ALL.less";
@import "gallery-strip.less";
@import "map-ui.less";
@import "lightbox.less";
@import "videoWrapper.less";
@import "info-box.less";
@import "rslides-ALL.less";



/* ==========================================================================
   Base
   ========================================================================== */

body {
   margin: 0;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   .make-row();   
   background-image: url("../img/dd_header_1200.jpg");
   background-size: cover;
   height: 346px;
   position: relative;

   .homelink {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
}


 }



/* ==========================================================================
   Content
   ========================================================================== */

.content { 

   .page-header{
      .make-xs-column(12);
   }

.entry-summary{ 
   .make-xs-column(12);
}

#map-container {
   
   
}
.map-row{.make-row(); /* margin-top: 30px; */}
#map-container{position:relative;height:300px;margin:0 -15px 0;}
#map { position:absolute; top:0; bottom:0; width:100%; }    

}

.entry-content p {
   font-weight: 400;
   font-size: 17px;
   line-height: 1.72222;
   -webkit-font-smoothing: antialiased;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {

 }

.search-form {
   margin: 30px 0;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { .make-xs-column(12);}
.hentry time { }
.hentry .byline { }
.hentry .entry-title{
   // .make-sm-column(12);
}
.hentry .entry-content {
   font-weight: normal;
   
.copy-container {
   .container();
}
.copy-row {
   .make-row();
   
}

.copy-columns{
   .make-sm-column(12);


   .content-collapse {
     
   }

}





 }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   .make-row();
   background-color: @purple;




 }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
// .alignleft { float: left; }
// .alignright { float: right; }
.alignleft, .alignright {
      float:none;
      margin: 0 auto 10px;
   }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 479px) {

   body{padding-top:50px;}
   @import "banner-PHONE.less";
   @import "race-hamburger-navbar-PHONE.less";
   @import "nav-menu-PHONE.less";
   @import "branding-PHONE.less";

 

   .responsive-break{display:block;}
}



@media (min-width: @screen-xs-min) {
.content #map-container{position: relative;height:500px;}
@import "banner-MOB.less";
@import "branding-MOB.less";
@import "nav-menu-MOB.less";
@import "thinstrip-MOB.less";


 }


@media (min-width: @screen-sm-min) {
@import "nav-menu-TAB.less";
@import "branding-TAB.less";
@import "nav-menu-TAB.less";
@import "buttons-TAB.less";

.rslides {
   margin: 0 0 50px 20px;
   float:right;   
}




}



@media (min-width: @screen-md-min) {
@import "thinstrip-DESK.less";
@import "banner-DESK.less";
@import "nav-menu-DESK.less";
@import "branding-DESK.less";

.alignleft { float: left;margin-right:15px;margin-bottom:15px; }
.alignright { float: right;margin-left:15px;margin-bottom:15px; }



 }

 a.anchor {
   visibility: hidden;
   line-height: 0;
   height: 0;
 }