/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "open-iconic-bootstrap.less";
@import "custom-mixins.less";
@import "thinstrip-ALL.less";
@import "nav-menu.less";
@import "buttons-ALL.less";
@import "typography-ALL.less";
@import "info-bar-ALL.less";
@import "accordian-ALL.less";


/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   margin: 30px -15px 0;
   padding: 0;
   background-image: url("../img/dd_header_1200.jpg");
   background-size: cover;
   height: 346px;
   position: relative;


 }



/* ==========================================================================
   Content
   ========================================================================== */

.content { 



// .entry-content{

// }

.gallery-strip {
   .make-row();
   .make-xs-column(12);
}

.info-boxes {
   .make-row();
   .make-xs-column(12);
}

#map-container {
   .make-row();
   .make-xs-column(12);
}
.map-row{.make-row();.container-fluid(); margin-top: 30px;}
#map-container{position: relative;height:500px;}
#map { position:absolute; top:0; bottom:0; width:100%; }    



}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
// .container();
 }

/* Gallery Shortcode */
// gallery-row { padding: 15px 0; }

//Not using this....



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { .make-xs-column(12);}
.hentry time { }
.hentry .byline { }
.hentry .entry-content {
   
.copy-container {
   .container();
}
.copy-row {
   .make-row();
   
}

.copy-columns{
   .make-sm-column(12);
}





 }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   margin:0 -15px 0;
   height:100px;
   background-color: @purple;


 }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-xs-max) {
   @import "banner-MOB.less";
   @import "thinstrip-MOB.less";
}




@media (min-width: @screen-xs-min) {


 }


@media (min-width: @screen-sm-min) {
@import "thinstrip-TAB.less"; 
@import "banner-TAB.less";
@import "branding-TAB.less";
@import "nav-menu-TAB.less";
}



@media (min-width: @screen-md-min) {
@import "thinstrip-DESK.less";
@import "banner-DESK.less";
@import "nav-menu-DESK.less";
@import "branding-ALL.less";
@import "gallery-strip.less";
@import "map-ui.less";
@import "lightbox.less";
@import "videoWrapper.less";


 }