//typography-ALL.less;

.nav {
	font-family: 'Ultra', serif;
	// font-size: 21px;
	text-transform: uppercase;
	letter-spacing: 1px; 
	//line-height: 1;
}

#info-bar li {
	font-weight: 700;
	//font-size: 20px;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding:1px 0;
	//line-height: 1;

}

.read-more {
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}



.info-box{
	h2, a{
	font-family: 'Ultra', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 27px;
	@media (max-width: @screen-sm-max) { font-size:24px;}
	@media (max-width: @screen-xs-max) { font-size:30px;}
	// @media (max-width: @screen-xs) { font-size:30px;}
	margin:10px 0 15px;
	color: @white;

	&:hover{
		text-decoration: none;

	}
	}

	p {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.27;
	padding: 0 10px;
	font-size: 17px;
	letter-spacing: 0;
	@media (max-width: @screen-sm-max) { font-size:18px; padding:0 15px;}
	@media (max-width: @screen-xs-max) { font-size:22px;}
	// @media (max-width: @screen-xs) { font-size:22px;}
	
	&:first-of-type{
	margin-bottom: 12px;
	}

	&:last-of-type{
	margin: 12px 0;
	}
	}



}

 .info-box-content .link-button{
		a{
		font-family: 'Ultra', serif;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		line-height: 1;
		margin: 0 auto;
		font-size: 15px;
		@media (max-width: @screen-md-max) { font-size:14px;}
		@media (max-width: @screen-sm-max) { font-size:15px;}
		@media (max-width: @screen-xs-max) { font-size:16px;}
		text-decoration: none;
		font-weight: normal;
		white-space: nowrap;


		
		}

	a.disabled {
	cursor:default;
	pointer-events: none;
	}
	}



//TODO
.entry-title {
	font-weight: 800;
	font-family: "Encode Sans Compressed",sans-serif;
	color: @purple;
	margin-top: 45px;
	font-size: 37px;
}

@media (max-width: @screen-xs) {
.entry-title {margin-top: 25px;}
	}


.copy-columns {
	p {
		font-size: 22px;
		font-weight: normal;
		//line-height: 1.7;
		margin-bottom: 30px;

	}



	#accordion {
		p {
			// font-size: 15px;
			font-weight: 300;
			//line-height: 1.3;
		}

		ul {
			font-weight: 300;
		}

		strong {
			// font-size: 15px;
			font-weight: 700;
			//line-height: 1.3;
		}

		h2 {
			// font-size: 20px;
			font-weight: 300;
			//line-height: 1.1;
			display: inline-block;
			cursor: pointer;
		}


	}
}

#thin-strip {
	font-size: 14px;
}


.race-hamburger-navbar {

	a{
		font-weight: 600;
		color: @white;
		text-decoration: none;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: .5px;
		cursor: pointer;

	}

	li {
		a {
			font-weight: 300;
		}
	}
}



